In [8]:
import os
from datetime import datetime
from datetime import timedelta
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
home_path = 'C:\\Users\joche\FIM Kernkompetenzzentrum\Paper Agent-based Modeling - Dokumente\General\\01 Data\co2_factors'
os.chdir(home_path)

In [10]:
# for each row, add n empty ones
def df_add_rows(df, n):
    empty_rows = n
    df.index = range(0, empty_rows * len(df), empty_rows)
    df_out = df.reindex(index=range(empty_rows * len(df)))
    return df_out

def generate_time_series(start_date_str, end_date_str, interval_min):
    start_date = datetime.strptime(start_date_str, "%Y-%m-%d %H:%M")
    end_date = datetime.strptime(end_date_str, "%Y-%m-%d %H:%M")
    interval = timedelta(hours=interval_min / 60)
    output = []
    while start_date <= end_date:
        output.append(start_date.strftime("%Y-%m-%d %H:%M"))
        start_date += interval
    return output

def generate_output(start_date_str, end_date_str, df):
    qh_date_index = generate_time_series(start_date_str, end_date_str,interval_min=15)
    df_year = pd.DataFrame(qh_date_index, columns=['time'])
    df_year['gCO2e/kWh'] = df_add_rows(df, 4)
    df_year.interpolate(axis=0, inplace=True)

    return df_year

In [11]:
# read in file
df = pd.read_excel('co2_factors_2022.xlsx', index_col=0)
df

      g_d [g/kWh]
slot
0      151.766877
1      153.524632
2      155.675887
3      159.213644
4      163.147246
...           ...
8755          NaN
8756          NaN
8757          NaN
8758          NaN
8759          NaN

[8760 rows x 1 columns]

In [16]:
# interplote hourly to quarter hourly df
co2e_2019 = generate_output(start_date_str='2019-01-01 00:00', end_date_str='2019-12-31 23:45', df = df)
co2e_2022 = generate_output(start_date_str='2022-01-01 00:00', end_date_str='2022-12-31 23:45', df = df)
co2e_2022

                   time   gCO2e/kWh
0      2022-01-01 00:00  151.766877
1      2022-01-01 00:15  152.206316
2      2022-01-01 00:30  152.645755
3      2022-01-01 00:45  153.085193
4      2022-01-01 01:00  153.524632
...                 ...         ...
35035  2022-12-31 22:45  288.518856
35036  2022-12-31 23:00  288.518856
35037  2022-12-31 23:15  288.518856
35038  2022-12-31 23:30  288.518856
35039  2022-12-31 23:45  288.518856

[35040 rows x 2 columns]

In [18]:
# save to file
os.chdir(home_path)
co2e_2019.to_excel('2019_qh_gCO2e_kWh.xlsx')
co2e_2022.to_excel('2022_qh_gCO2e_kWh.xlsx')